---
import type { GetStaticPaths, InferGetStaticPropsType } from "astro";
// import { Debug } from "astro/components";
import { Image } from "astro:assets";
import Layout from "@/layouts/BaseLayout.astro";
import { photos } from "@/content";
import { getCamera, getLensInfo, getReadableCaptureSettings, isLandscape } from "@/utils/exif";

export const getStaticPaths = (
  ({ paginate }) => paginate(photos, { pageSize: 1 })
) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { page } = Astro.props;
const { file, exif, alt } = page.data[0]!;

const camera = getCamera(exif);
const lens = getLensInfo(exif);
const settings = getReadableCaptureSettings(exif.Photo);

const datetime = exif.Photo.DateTimeOriginal!;
---

<Layout
  title="Photos"
  theme-color="#000"
  class="pb-18 md:pb-0 md:min-h-[90svh] flex flex-col md:flex-row md:flex-wrap gap-x-[2vw] content-center justify-center items-center mx-auto bg-black text-xs font-recursive sm:text-sm"
  safe-area-padding={false}
>
  <main class="contents">
    <figure class="contents">
      <Image
        id="photo"
        class="object-contain max-h-svh"
        class:list={[
          isLandscape(exif)
            ? ""
            : "",
        ]}
        src={file}
        alt={alt}
        loading="eager"
        quality="max"
        fetchpriority="high"
      />

    <figcaption
      class="my-8 max-h-min max-w-prose px-2"
    >
        <p
          class="text-slate-300 font-semibold leading-tight"
          style={{ "font-variation-settings": "'CASL' 1, 'CRSV' 1" }}
        >
          <time class="flex justify-between gap-x-8" datetime={datetime.toString()}>
            <span>{datetime.toLocaleDateString("en-US", { timeZone: "UTC", dateStyle: "medium" })}</span>
            <span>{datetime.toLocaleTimeString("en-US", { timeZone: "UTC", timeStyle: "short" })}</span>
          </time>
        </p>
        <ul
          class="my-6 flex justify-between gap-x-8 text-slate-400 font-semibold tracking-tight"
          style={{ "font-variation-settings": "'CASL' 0.3, 'CRSV' 1, 'MONO' 0.69" }}
        >
          {
            settings.map(item => (
              <li>{item}</li>
            ))
          }
        </ul>
        <p
          class="flex justify-center gap-x-8 text-slate-400 font-medium"
          style={{ "font-variation-settings": "'CASL' 0.3, 'CRSV' 1, 'MONO' 0.69" }}
        >
          <span>{camera}</span>
          <span>{lens}</span>
        </p>
      </figcaption>
    </figure>
  </main>
  <footer class="">
    <nav
      class="bg-gradient-to-t from-black from-50% md:from-0% w-full to-transparent p-8 text-slate-400 fixed bottom-0 inset-x-0"
      style={{ "font-variation-settings": "'CASL' 0.3, 'CRSV' 1, 'MONO' 0.69" }}
    >
      <ul class="flex items-center justify-center gap-x-8 md:justify-end">
        <li><a href="/photos">All</a></li>
        <li><a class:list={{ "text-slate-600": !page.url.prev }} href={page.url.prev}>Prev</a></li>
        <li><a class:list={{ "text-slate-600": !page.url.next }} href={page.url.next}>Next</a></li>
        <li>{page.currentPage}/{page.lastPage}</li>
      </ul>
    </nav>
  </footer>
</Layout>
