---
import type {
  GetStaticPaths,
  InferGetStaticPropsType,
} from "astro";
import { Image } from "astro:assets";
import Page from "@/layouts/MainLayout.astro";
import { photos } from "@/content";
import { getExposureComp, getShutterSpeed } from "@/utils/exif";

export const getStaticPaths = (() =>
  photos.map(photo => ({
    params: { slug: photo.slug },
    props: { photo },
  }))
) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { photo } = Astro.props;
const { file, exif } = photo;

const dateFormat = Intl.DateTimeFormat("en", {
  dateStyle: "medium",
  timeStyle: "short",
  timeZone: "UTC",
});

const exifinfo = {
  camera: exif.Image.Model,
  datetime: dateFormat.format(exif.Photo.DateTimeOriginal),
  f: exif.Photo.FNumber,
  focallen: exif.Photo.FocalLengthIn35mmFilm ?? exif.Photo.FocalLength,
  iso: exif.Photo.ISOSpeedRatings,
  shutter: getShutterSpeed(exif.Photo.ExposureTime),
  ev: getExposureComp(exif.Photo.ExposureBiasValue),
};
---

<Page
  title="Photos"
  class="flex flex-col items-center"
  safe-area-padding={false}
>
  <figure
    class="w-full from-white to-transparent from-90% bg-gradient-to-b"
  >
    <Image
      class="mx-auto"
      src={file}
      alt={photo.alt}
      loading="eager"
      quality="max"
      fetchpriority="high"
    />

    <figcaption class="mx-auto max-w-prose pb-12 text-xs sm:text-sm">
      <div class="mx-auto max-w-prose px-4 font-mono">
        <ul class="my-4 flex justify-between text-slate-600">
          <li>ISO {exifinfo.iso}</li>
          <li>{exifinfo.focallen} mm</li>
          <li>{exifinfo.ev} ev</li>
          <li>f/{exifinfo.f}</li>
          <li>{exifinfo.shutter}s</li>
        </ul>
        <ul class="flex justify-around text-slate-400">
          <li><time datetime={exif.Photo.DateTimeOriginal.toISOString()}>{exifinfo.datetime}</time></li>
          <li>{exifinfo.camera}</li>
        </ul>
      </div>
    </figcaption>
  </figure>
</Page>
