---
import type {
  GetStaticPaths,
  InferGetStaticPropsType,
} from "astro";
import { Image } from "astro:assets";
import Page from "@/layouts/MainLayout.astro";
import { photos } from "@/content";
import {
  getCamera,
  getCaptureTimeStrings,
  getLensInfo,
  getReadableCaptureSettings,
} from "@/utils/exif";

export const getStaticPaths = (() =>
  photos.map(photo => ({
    params: { slug: photo.slug },
    props: { photo },
  }))
) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { photo } = Astro.props;
const { file, exif } = photo;

const camera = getCamera(exif);
const lens = getLensInfo(exif);
const settings = getReadableCaptureSettings(exif.Photo);

const captureTime = getCaptureTimeStrings(exif.Photo.DateTimeOriginal);
---

<Page
  title="Photos"
  class="flex flex-col items-center"
  safe-area-padding={false}
>
  <figure
    class="w-full from-white to-transparent from-90% bg-gradient-to-b"
  >
    <Image
      class="mx-auto"
      src={file}
      alt={photo.alt}
      loading="eager"
      quality="max"
      fetchpriority="high"
    />

    <figcaption class="mx-auto max-w-prose pb-12 text-base font-mono sm:text-lg">
      <p class="mb-10 mt-2 flex flex-col px-2 leading-tight sm:mt-6">
        <span class="text-slate-800">{camera}</span>
        <span class="mb-2 text-slate-700">{lens}</span>
        {captureTime && (
          <time class="text-xs text-slate-500 sm:text-sm" datetime={captureTime.ISOString}>{captureTime.formatted}</time>
        )}
      </p>
      <div class="mx-auto px-2">
        <ul class="my-4 flex justify-center text-xs text-slate-500 divide-x-2 sm:text-sm">
          {
            settings.map(item => (
              <li class="px-3 py-0.5 sm:px-4 sm:py-1">{item}</li>
            ))
          }
        </ul>
      </div>
    </figcaption>
  </figure>
</Page>
