---
import type { GetStaticPaths, InferGetStaticPropsType } from "astro";
import { Image } from "astro:assets";
import Page from "@/layouts/BaseLayout.astro";
import { photos } from "@/content";
import { getCamera, getLensInfo, getReadableCaptureSettings } from "@/utils/exif";

export const getStaticPaths = (() =>
  photos.map(photo => ({
    params: { slug: photo.slug },
    props: { photo },
  }))
) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { file, exif, alt } = Astro.props.photo;

const camera = getCamera(exif);
const lens = getLensInfo(exif);
const settings = getReadableCaptureSettings(exif.Photo);

const datetime = exif.Photo.DateTimeOriginal!;
---

<Page
  title="Photos"
  theme-color="#000"
  class="mx-auto bg-black"
  safe-area-padding={false}
>
  <figure class="flex flex-row flex-wrap place-content-center content-start gap-8 gap-x-[5vw] bg-black min-h-svh sm:content-center sm:items-center sm:px-8 sm:pb-[10vh]">
    <Image
      class="max-h-screen object-cover"
      src={file}
      alt={alt}
      loading="eager"
      quality="max"
      fetchpriority="high"
    />

    <figcaption class="max-h-min max-w-prose px-2 text-base font-mono sm:text-lg">
      <p class="leading-tight">
        <time class="flex justify-between gap-x-8 text-xs text-slate-400 sm:text-sm" datetime={datetime.toString()}>
          <span>{datetime.toLocaleDateString("en-US", { timeZone: "UTC", dateStyle: "long" })}</span>
          <span>{datetime.toLocaleTimeString("en-US", { timeZone: "UTC", timeStyle: "medium" })}</span>
        </time>
      </p>
      <ul class="my-6 flex justify-between gap-x-8 text-xs text-slate-400 tracking-tight sm:text-sm">
        {
          settings.map(item => (
            <li class="">{item}</li>
          ))
        }
      </ul>
      <p class="flex justify-between gap-x-8 text-xs text-slate-400 sm:text-sm">
        <span class="">{camera}</span>
        <span class="">{lens}</span>
      </p>
    </figcaption>
  </figure>
</Page>
