---
import type {
  InferGetStaticPropsType,
  GetStaticPaths
} from "astro";
import { Image } from "astro:assets";
import Page from "@/layouts/MainLayout.astro";
import { photos } from "@/content";
import { getShutterSpeed, getExposureComp } from "@/lib/exif";

export const getStaticPaths = (() =>
  photos.map(photo => ({
    params: { slug: photo.slug },
    props: { photo },
  }))
) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { photo } = Astro.props;
const { file, exif } = photo;

const dateFormat = Intl.DateTimeFormat("en", {
  dateStyle: "medium",
  timeStyle: "short",
  timeZone: "UTC",
});

const exifinfo = {
  camera: exif.Image.Model,
  datetime: dateFormat.format(exif.Photo.DateTimeOriginal),
  f: exif.Photo.FNumber,
  focallen: exif.Photo.FocalLengthIn35mmFilm ?? exif.Photo.FocalLength,
  iso: exif.Photo.ISOSpeedRatings,
  shutter: getShutterSpeed(exif.Photo.ExposureTime),
  ev: getExposureComp(exif.Photo.ExposureBiasValue),
}
---

<Page
  title="Photos"
  class="flex flex-col items-center"
  safe-area-padding={false}
>
  <figure
    class="w-full bg-white"
  >
    <Image
      class="mx-auto"
      src={file}
      alt={photo.alt}
      loading="eager"
      quality="max"
      format={file.format}
    />
    <figcaption class="max-w-prose mx-auto px-4 font-mono text-xs sm:text-sm md:text-base">
      <ul class="my-4 flex justify-between text-slate-600">
        <li>ISO {exifinfo.iso}</li>
        <li>{exifinfo.focallen} mm</li>
        <li>{exifinfo.ev} ev</li>
        <li>f/{exifinfo.f}</li>
        <li>{exifinfo.shutter}s</li>
      </ul>
      <ul class="flex justify-around text-slate-400">
        <li><time>{exifinfo.datetime}</time></li>
        <li>{exifinfo.camera}</li>
      </ul>
    </figcaption>
  </figure>
  <div class="h-48 w-full bg-gradient-to-b from-white"/>
</Page>
