---
import {
  cvEntries,
  createCvEntryTypeGuard as isType,
} from "@/content";

import BaseLayout from "@/layouts/BaseLayout.astro";
import Section from "./_components/BaseSection.astro";
import Contact from "./_components/Contact.astro";
import SkillDetails from "./_components/SkillDetails.astro";
import Experience from "./_components/ExperienceEntry.astro";
import Project from "./_components/ProjectEntry.astro";
import Certification from "./_components/CertificationEntry.astro";
import Education from "./_components/EducationEntry.astro";

const skills = cvEntries.filter(isType("skills"));
const experience = cvEntries.filter(isType("experience"));
const projects = cvEntries.filter(isType("project"));
const volunteering = cvEntries.filter(isType("volunteering"));
const certifications = cvEntries.filter(isType("certification"));
const education = cvEntries.filter(isType("education"));

const objective = cvEntries.find(entry => entry.slug === "objective")!;
const { Content: Objective } = await objective.render();
---

<style is:global>
  @media print {
    :root {
      font-size: 10.5px;
      print-color-adjust: exact;
      background-color: inherit;
    }
  }
</style>

<BaseLayout title="Sandeep Dilip's Resume">
  {// TODO: Center align header on mobile screens }
  <header class="container max-w-5xl sm:flex justify-between mx-auto my-6 px-6 sm:px-10 font-mono">
    <div class="text-left">
      <h1 class="font-600 text-3xl text-slate-900 tracking-tighter">
        <a href="/">Sandeep Dilip</a>
      </h1>
      <p class="text-slate-500">Software Developer</p>
    </div>
    <Contact class="mt-4 text-sm text-right leading-relaxed"/>
  </header>

  <main class="mx-auto grid grid-cols-1 lg:grid-cols-[max-content_max-content] justify-center lg:gap-x-10 px-6 font-mono text-sm sm:text-base text-slate-700">
    {import.meta.env.DEV && (
      <Section
        heading="Objective"
        class="lg:col-span-2 mx-auto max-w-prose lg:max-w-4xl"
      >
        <div class="m-3 leading-tight font-400">
          <Objective />
        </div>
      </Section>
    )}

    {// TODO: style skills section for mobile screens }
    <Section
      heading="Skills"
      class="sm:mx-auto sm:w-[65ch] lg:w-auto lg:max-w-prose"
    >
      <div class="ml-3 md:ml-0 md:flex lg:block justify-between pr-8">
        <SkillDetails entry={skills.find(entry => entry.data.category === "Languages")!}/>
        <SkillDetails entry={skills.find(entry => entry.data.category === "Technologies")!}/>
        <SkillDetails entry={skills.find(entry => entry.data.category === "Miscellaneous")!}/>
      </div>
    </Section>

    <div class="max-w-prose mx-auto">
      <Section heading="Experience">
        {
          experience.filter(exp => !exp.data.internship).map(exp => <Experience entry={exp} />)
        }
      </Section>

      <Section heading="Open source">
        {
          projects.filter(proj => !proj.data.draft).map(proj => <Project entry={proj} />)
        }
      </Section>

      <Section heading="Certification">
        {
          certifications.map(cert => <Certification entry={cert} />)
        }
      </Section>

      <Section heading="Volunteering">
        {
          volunteering.map(vol => <Experience entry={vol} />)
        }
      </Section>

      <Section heading="Education">
        {
          education.map(edu => <Education entry={edu} />)
        }
      </Section>

      <Section heading="Internships">
        {
          experience.filter(exp => exp.data.internship).map(exp => <Experience entry={exp} />)
        }
      </Section>
    </div>
  </main>
</BaseLayout>
