---
import {
  cvEntries,
  createCvEntryTypeGuard as isType,
} from "@/content";

import BaseLayout from "@/layouts/BaseLayout.astro";
import Section from "@/components/resume/BaseSection.astro";
import ExperienceEntry from "@/components/resume/ExperienceEntry.astro";
import ProjectEntry from "@/components/resume/ProjectEntry.astro";
import CertificationEntry from "@/components/resume/CertificationEntry.astro";
import EducationEntry from "@/components/resume/EducationEntry.astro";

const objective = cvEntries.find(entry => entry.slug === "objective")!;
const experience = cvEntries.filter(isType("experience"));
const projects = cvEntries.filter(isType("project"));
const volunteering = cvEntries.filter(isType("volunteering"));
const certifications = cvEntries.filter(isType("certification"));
const education = cvEntries.filter(isType("education"));

const { Content: Objective } = await objective.render();
---

<BaseLayout title="Sandeep Dilip's Resume">
  <header class="flex justify-around m-6 font-mono">
    <div class="text-center">
      <h1 class="font-600 text-3xl text-slate-900 tracking-tighter">
        <a href="/">Sandeep Dilip</a>
      </h1>
      <p class="text-slate-400">Software Developer</p>
    </div>
  </header>

  <main class="max-w-prose mx-auto px-4 font-mono text-sm sm:text-base text-slate-600">
    <Section heading="Objective">
      <div class="m-3 leading-tight font-400">
        <Objective />
      </div>
    </Section>

    <Section heading="Experience">
      {
        experience.filter(exp => !exp.data.internship).map(exp => <ExperienceEntry entry={exp} />)
      }
    </Section>

    <Section heading="Open source">
      {
        projects.filter(proj => !proj.data.draft).map(proj => <ProjectEntry entry={proj} />)
      }
    </Section>

    <Section heading="Certification">
      {
        certifications.map(cert => <CertificationEntry entry={cert} />)
      }
    </Section>

    <Section heading="Volunteering">
      {
        volunteering.map(vol => <ExperienceEntry entry={vol} />)
      }
    </Section>

    <Section heading="Education">
      {
        education.map(edu => <EducationEntry entry={edu} />)
      }
    </Section>

    <Section heading="Internships">
      {
        experience.filter(exp => exp.data.internship).map(exp => <ExperienceEntry entry={exp} />)
      }
    </Section>
  </main>
</BaseLayout>
