---
import Page from "@/layouts/MainLayout.astro";
import Link from "@/components/Link.astro";
import Icon from "@/components/Icon.astro";
import { socials } from "@/content";
---

<Page
  title="Contact"
  class="flex flex-col justify-center items-center"
>
  <address class="
    font-quicksand tracking-tighter not-italic text-sky-950
    text-4xl font-430 leading-snug
    sm:text-6xl sm:font-450 sm:leading-snug
  ">
    <ul>
      <li>
        <a
          class="flex items-center gap-2"
          href={socials.github.href}
          target={socials.github.target}
        >
          <Icon name="github"/>
          <span>{socials.github.text}</span>
        </a>
      </li>
      <li>
        <a
          class="flex items-center gap-2"
          href={socials.linkedin.href}
          target={socials.linkedin.target}
        >
          <Icon name="linkedin"/>
          <span>{socials.linkedin.text}</span>
        </a>
      </li>
    </ul>
  </address>
</Page>
