---
import type { HTMLAttributes } from "astro/types";
import { env } from "@/utils"
import { socials } from "@/content";

// Manually define socialsArray to ensure order
const items = [
  socials.linkedin,
  socials.github,
];

type Props = HTMLAttributes<"address">;
const { class: className } = Astro.props;
---

<address class:list={["[&_a]:underline [&_a]:text-cyan-600", className]}>
  {import.meta.env.DEV && (
    <ul class="hidden print:flex justify-center [&_li]:px-4">
      {env.EMAIL && (
        <li>
          <a href={`mailto:${env.EMAIL}`}>
            {env.EMAIL}
          </a>
        </li>
      )}
      {env.PHONE && (
        <li>
          <a href={`tel:${env.PHONE}`}>
            {env.PHONE}
          </a>
        </li>
      )}
    </ul>
  )}
  <ul class="flex justify-center [&_li]:px-4">
    <li class="hidden print:inline">
      <a href={import.meta.env.SITE}>{new URL(import.meta.env.SITE).hostname}</a>
    </li>
    {items
      .filter(item => !!item)
      .map(item => (
        <li>
          <a href={item.href}>{item.text}</a>
        </li>
      ))
    }
  </ul>
</address>
