---
import type { HTMLAttributes } from "astro/types";
import Icon from "@/components/Icon.astro";
import { env } from "@/utils"
import { socials } from "@/content";

// Explicitly define array to specify order of dynamically-generated elements
const links = [
  socials.linkedin,
  socials.github,
];

type Props = HTMLAttributes<"address">;
const { class: className } = Astro.props;
---

<address class:list={["[&_a]:underline [&_a]:text-sky-700", className]}>
  <ul class="[&_li]:px-4">
    {env.BUILD_INCLUDE_PERSONAL && (
      <li class="hidden print:inline">
        <a href={`mailto:${env.PERSONAL_EMAIL}`}>
          {env.PERSONAL_EMAIL}
        </a>
      </li>
      <li class="hidden print:inline">
        <a href={`tel:${env.PERSONAL_PHONE}`}>
          {env.PERSONAL_PHONE}
        </a>
      </li>
    )}
    <li class="hidden print:inline">
      <a href={import.meta.env.SITE}>Website</a>
    </li>
    {links.map(link => {
      if (!link) return;
      const { text, icon, ...attrs } = link;
      return (
        <li>
          <a { ...attrs }>
            <span class="hidden sm:inline">{text}</span>
            <Icon name={icon} label={text} class="ml-1"/>
          </a>
        </li>
      )})
    }
  </ul>
</address>
