---
import type { HTMLAttributes } from "astro/types";
import { env } from "@/utils"
import { socials } from "@/content";

type Props = HTMLAttributes<"address">;
const { class: className } = Astro.props;
---

<address class:list={["[&_a]:underline [&_a]:text-cyan-600", className]}>
  <ul>
    {import.meta.env.DEV && (
      <>
        {env.EMAIL && (
          <li>
            <a href={`mailto:${env.EMAIL}`}>
              <span class="after:content-[':']">Email</span>
              <span>{env.EMAIL}</span>
            </a>
          </li>
        )}
        {env.PHONE && (
          <li>
            <a href={`tel:${env.PHONE}`}>
              <span class="after:content-[':']">Phone</span>
              <span>{env.PHONE}</span>
            </a>
          </li>
        )}
      </>
    )}
    <li>
      <a href={socials.linkedin.href}>{socials.linkedin.text}</a>
    </li>
    <li>
      <a href={socials.github.href}>{socials.github.text}</a>
    </li>
  </ul>
</address>
