---
import {
  cvEntries,
  createCvEntryTypeGuard as isType,
} from "@/content";

import BaseLayout from "@/layouts/BaseLayout.astro";
import Section from "@/components/resume/BaseSection.astro";
import SkillDetails from "@/components/resume/SkillDetails.astro";
import ExperienceEntry from "@/components/resume/ExperienceEntry.astro";
import ProjectEntry from "@/components/resume/ProjectEntry.astro";
import CertificationEntry from "@/components/resume/CertificationEntry.astro";
import EducationEntry from "@/components/resume/EducationEntry.astro";

const objective = cvEntries.find(entry => entry.slug === "objective")!;
const skills = cvEntries.find(entry => entry.slug === "skills")!;
const skillCategories = cvEntries.filter(isType("skills"));
const experience = cvEntries.filter(isType("experience"));
const projects = cvEntries.filter(isType("project"));
const volunteering = cvEntries.filter(isType("volunteering"));
const certifications = cvEntries.filter(isType("certification"));
const education = cvEntries.filter(isType("education"));

const { Content: Objective } = await objective.render();
const { Content: Skills } = await skills.render();
---

<style is:global>
  @media print {
    :root {
      font-size: 10.5px;
      print-color-adjust: exact;
      background-color: inherit;
    }
  }
</style>

<BaseLayout title="Sandeep Dilip's Resume">
  <header class="container max-w-5xl flex mx-auto my-6 px-6 sm:px-10 font-mono">
    <div class="text-left">
      <h1 class="font-600 text-3xl text-slate-900 tracking-tighter">
        <a href="/">Sandeep Dilip</a>
      </h1>
      <p class="text-slate-500">Software Developer</p>
    </div>
  </header>

  <main class="mx-auto grid grid-cols-1 lg:grid-cols-[max-content_max-content] justify-center lg:gap-x-10 px-6 font-mono text-sm sm:text-base text-slate-700">
    <Section
      heading="Objective"
      class="lg:col-span-2 mx-auto max-w-prose lg:max-w-4xl"
    >
      <div class="m-3 leading-tight font-400">
        <Objective />
      </div>
    </Section>

    {// TODO: style skills section for mobile screens }
    <Section
      heading="Skills"
      class="mr-auto sm:mx-auto sm:w-[65ch] lg:w-auto lg:max-w-prose"
    >
      <div class="md:flex lg:block justify-between pr-8">
        <SkillDetails entry={skillCategories.find(entry => entry.data.category === "Languages")!}/>
        <SkillDetails entry={skillCategories.find(entry => entry.data.category === "Technologies")!}/>
        <SkillDetails entry={skillCategories.find(entry => entry.data.category === "Miscellaneous")!}/>
      </div>
    </Section>

    <div class="max-w-prose mx-auto">
      <Section heading="Experience">
        {
          experience.filter(exp => !exp.data.internship).map(exp => <ExperienceEntry entry={exp} />)
        }
      </Section>

      <Section heading="Open source">
        {
          projects.filter(proj => !proj.data.draft).map(proj => <ProjectEntry entry={proj} />)
        }
      </Section>

      <Section heading="Certification">
        {
          certifications.map(cert => <CertificationEntry entry={cert} />)
        }
      </Section>

      <Section heading="Volunteering">
        {
          volunteering.map(vol => <ExperienceEntry entry={vol} />)
        }
      </Section>

      <Section heading="Education">
        {
          education.map(edu => <EducationEntry entry={edu} />)
        }
      </Section>

      <Section heading="Internships">
        {
          experience.filter(exp => exp.data.internship).map(exp => <ExperienceEntry entry={exp} />)
        }
      </Section>
    </div>
  </main>
</BaseLayout>
