---
import type { HeadMetaProps } from "@/schemas/head-meta";

type Props = HeadMetaProps;

const { title, description } = Astro.props;
---
<meta charset="utf-8" />
<meta name="generator" content={Astro.generator} />
<meta name="viewport" content="initial-scale=1, viewport-fit=cover" />

<title>{title}</title>
<meta name="description" content={description} />

<link rel="icon" href="/icons/favicon.png" sizes="48x48" type="image/png" />
<link rel="icon" href="/icons/favicon.svg" sizes="any" type="image/svg+xml" />
<link rel="apple-touch-icon" href="/icons/apple-touch-icon.png" />

<meta property="og:title" content={title}/>
<meta property="og:description" content={description}/>
<meta property="og:image" content="/og-image.jpg"/>
<meta property="og:type" content="website"/>

<link rel="sitemap" href="/sitemap-index.xml" />
