---
import BaseLayout from "./BaseLayout.astro";
import Perlin from "@/components/Perlin.astro";
import Banner from "@/components/Banner.astro";
import Footer from "@/components/Footer.astro";

type Props = {
  "title"?: string;
  "description"?: string;
  /** Classes to add to the `<main>` element. */
  "class"?: string;
  /** Styles to add to the `<main>` element. */
  "style"?: string;
  /** Absolutely position the banner at the top. */
  "fixed-banner"?: boolean;
  /** Set to `false` to remove the padding on the `<main>` element. */
  "safe-area-padding"?: boolean;
};

const {
  title: titleString,
  description: descString,
  class: className,
  style,
  "fixed-banner": fixedBanner = true,
  "safe-area-padding": safeAreaPadding = true,
  ...attrs
} = Astro.props;

const title = titleString
  ? (`${titleString} | nicesandeep`)
  : "nicesandeep";
const description = descString ?? "Sandeep Dilip's personal website";
---

<style is:global>
  body { background-color: white }
  .safe-area-padding {
    padding-inline: env(safe-area-inset-left) env(safe-area-inset-right);
  }
</style>

<BaseLayout {title} {description} themeColor="#FFFFFF" class="relative">
  {/* A noise pattern background to fill the whole page. */}
  <Perlin class="absolute inset-0 -z-50">
    {/* A gradient on top of the noise. */}
    <div class="absolute inset-0 from-sky-50/85 via-sky-100/60 from-50% via-90% bg-gradient-to-b"></div>
  </Perlin>

  {/* Site logo and navigation components. */}
  <Banner fixed={fixedBanner} class="pb-1" />

  {/* Slot for main content. */}
  <main
    {style}
    class:list={[
      className,
      "min-h-screen text-sky-950",
      safeAreaPadding && "safe-area-padding",
    ]}
    {...attrs}
  >
    <slot />
  </main>

  {/* Other links and copyright information. */}
  <Footer class="w-full from-transparent to-white to-50% bg-gradient-to-b pb-18 pt-48" />
</BaseLayout>
